<h1 class="title">User edit</h1>

<form ng-submit="submit()">
  <div ng-repeat="form in forms">
    <h3>User ID#{{form.id}}</h3>
    <br/>
    <div class="jumbotron" ng-if="!form.loading" ng-disabled="submitting">
      <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="form.name" type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input ng-model="form.surname" type="text" class="form-control" id="surname" placeholder="Surname">
      </div>
      <div class="form-group">
        <label for="dateofbirth">Date of birth</label>
        <input ng-model="form.dateofbirth" type="text" class="form-control" id="dateofbirth" placeholder="dateofbirth">
      </div>
      <div class="form-group">
        <label for="mobilenumber">Mobile number</label>
        <input ng-model="form.mobile" type="text" class="form-control" id="mobilenumber" placeholder="mobilenumber">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input ng-model="form.city" type="text" class="form-control" id="address" placeholder="City">
        <input ng-model="form.street" type="text" class="form-control" id="address" placeholder="Street">
        <input ng-model="form.housenumber" type="text" class="form-control" id="address" placeholder="House number">
      </div>
    </div>
    <div ng-if="form.loading">
      Loading..
    </div>
    <hr />
  </div>

  <button type="submit" class="btn btn-info">Submit</button>
  <button ui-sref="dashboard" class="btn btn-danger">Cancel</button>

</form>
<br />
